set timeout=0                         # Start immediately
set default=0                         # Start at the first entry
set gfxmode=640x480x32                # Ask GRUB for a simple 32-bit graphics mode
set gfxpayload=keep                   # Keep graphics mode when the kernel starts

# Boot menu called MiniGameOS
menuentry "MiniGameOS" {
    multiboot /boot/kernel.bin        # Load this kernel into GRUB
    boot                              # Run the loaded kernel
}
