set timeout=0				# Start immediatly
set default=0				# Start at the first entry

# Boot menu called mingameos
menuentry "MiniGameOS" {
    multiboot /boot/kernel.bin		# Load this kernel into grub
    boot				# Run the loaded kernel 
}
